.headertopbox{
	display:flex;
	justify-content: space-between;
    padding: 0.3rem 0;
}

.headertop{
  font-size: 14px;
  padding-top:0.4rem;
  font-family: "Microsoft YaHei";
  color: rgb(41, 176, 120);
  /* padding-top: 0.5rem; */
  /* text-align:center; */
}
.element{
    vertical-align: :middle;
    text-align: right;
    /* padding-top: 0.5rem; */
}
.weixin{
	background:url(../image/weixin.jpg);
	background-size: cover;
	width: 25px;
	height:25px;
    display:inline-block;
    margin-left: 1rem;
}
.qq{
	background:url(../image/qq.jpg);
	background-size: cover;
	width: 25px;
	height: 25px;
	display:inline-block;
	 margin-left: 1rem;
}
.weibo{
	background:url(../image/weibo.png);
	background-size: cover;
	width: 25px;
	height: 25px;
	display:inline-block;
	 margin-left: 1rem;
}
.logo{
	background:url(../image/logo.png);
	background-size: contain;
	width: 108px;
	height: 49px;
	/* display:flex; */
	/* justify-content:center; */
	/* align-items:center; */
	margin-top:4.5%;
}
.top{
	/* padding: 0; */
}
.headerbottom{
	background-color: rgb(41, 176, 120);
}
.navbar {
    margin-bottom: 0;
    border: 0;
    background: transparent;
}
.navbar-brand {
    max-width: 108px;
    margin-top: 0;
    padding:25px 0;
}
.navbar-default .navbar-nav > li {
    padding: 0 10px;
    list-style-image: none;
}
.navbar-default .navbar-nav > li:last-child {
    padding: 0 0 0 10px;
}
.navbar-default .navbar-nav > li > a {
    display: block;
    height: 97px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 93px;
    /* color: #fff; */
    /* text-align: center; */
    border-bottom: 4px solid #29b078;
    text-decoration: none;
    cursor: pointer;
}
.navbar-default .navbar-nav > li.active > a {
    color: #fff;
    background: #29b078;
}
.navbar-default .navbar-nav > li.active > a:hover {
    color: #fff;
    background: #29b078;
    border-bottom: 4px solid #eee;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar-default .navbar-nav > li > a{
        height:68px;
        line-height: 72px;
    }
     .navbar-brand {
        width: 90%;
        /* margin-top: 10px; */
        padding-top:11px;
    }
}
@media only screen and (max-width: 767px) {
    .header-nav-wrap,
    .navbar {
        width: 100%;
        z-index: 9999;
    }

    .navbar-brand {
        width: 90%;
        /* margin-top: 10px; */
        padding-top:8px;
    }

    .navbar-brand img {
        width: 80%;
    }

    .navbar-collapse {
        width: 100%;
        padding: 0;
        border: 0;
        box-shadow: none;
    }

    .navbar-nav {
        float: none;
        width: 100%;
        /* height: 240px; */
        margin: 0;
        background: rgb(41, 176, 120);
        border: none;
        text-align:center;
    }
.navbar-default .navbar-nav > li:last-child {
    padding: 0 25px;
}
    .navbar-default .navbar-nav > li a {
        height: 40px;
        margin: 0;
        padding: 0;
        line-height: 40px;
        /* color: #fff; */
        /* background: rgb(41, 176, 120); */
        filter: alpha(opacity:90);
        opacity: 0.9;
        z-index: 9999;
    }

    .navbar-default .navbar-nav > li.active > a {
        color: #fff;
        /* background: #38c58a; */
        border: none;
    }

    .navbar-default .navbar-nav > li > a:hover {
        background: #26a728;
        border: none;
    }
    .navbar-default .navbar-nav li.active a:hover {
        background: #3cb93e !important;
        border: none;
    }
    .navbar .navbar-toggle {
        border: 0;
        background: #f5f5f5;
    }

    .navbar .navbar-toggle:hover {
        background: #f5f5f5;
    }
}


 .bottom{
 	background-color: rgb(38, 162, 111);
 	color:white;
 	/* position:fixed; */
 } 
 .bottom1{
 	/* padding:0; */
 }    
 .tree{
   margin-top:2rem;
   font-size:1.6rem;
   font-family: "Microsoft YaHei";
 }
 .about{
 display:inline-flex;
 margin-top:5rem;
 font-size:1.6rem;
 }
 .about1{
    border-right:1px solid white;
    padding-right:1rem;
    margin-right:1rem;
     
 }
 .about2{

 }
 .web-box{
 	/* padding-left:7rem; */
 	font-size:1.6rem;
 }
 .web{
  margin-top:2rem;
 }
 .web-a{
margin-top:1.7rem;
 }
 .web-b{
 	color:white;
 	padding-right:2rem;
 }
 .qrcode{
 	font-size:1.6rem;
 	/* float:right; */
 	margin-top:2rem;
 }
 .qrcode1{

 }
 .qrcode2{

 }
 .infor{
   text-align:center;
   margin-top:2rem;
 }