.headertopbox{
	display:flex;
	justify-content: space-between;
    padding: 0.3rem 0;
}

.headertop{
  font-size: 14px;
  padding-top:0.4rem;
  font-family: "Microsoft YaHei";
  color: rgb(41, 176, 120);
  /* padding-top: 0.5rem; */
  /* text-align:center; */
}
.element{
    vertical-align: :middle;
    text-align: right;
    /* padding-top: 0.5rem; */
}
.weixin{
	background:url(../image/weixin.png);
	background-size: cover;
	width: 27px;
	height:25px;
    display:inline-block;
    margin-left: 1rem;
}
.qq{
	background:url(../image/qq.png);
	background-size: cover;
	width: 27px;
	height: 25px;
	display:inline-block;
	 margin-left: 1rem;
}
.weibo{
	background:url(../image/weibo.png);
	background-size: cover;
	width: 27px;
	height: 25px;
	display:inline-block;
	 margin-left: 1rem;
}
.logo{
	background:url(../image/logo.png);
	background-size: contain;
	width: 108px;
	height: 49px;
	/* display:flex; */
	/* justify-content:center; */
	/* align-items:center; */
	margin-top:4.5%;
}
.top{
	padding: 0;
}
.headerbottom{
	background-color: rgb(41, 176, 120);
}

.nav-item{
	height:8rem;
	display: flex;
	margin-left: 3rem;
	align-items: center;
	/* text-align: center; */
	/* justify-content: center; */
	font-size:1.5rem;
	border-bottom: 4px solid #29b078;
	color:#fff;
	cursor: pointer;
}
  .navbar-nav > li > a:hover
  {
    border-bottom: 4px solid white;
    color: #fff;
    background: #29b078;
}
 .bottom{
 	background-color: rgb(38, 162, 111);
 	color:white;
 	/* position:fixed; */
 } 
 .bottom1{
 	padding:0;
 }    
 .tree{
   margin-top:2rem;
   font-size:1.6rem;
   font-family: "Microsoft YaHei";
 }
 .about{
 display:inline-flex;
 margin-top:5rem;
 font-size:1.6rem;
 }
 .about1{
    border-right:1px solid white;
    padding-right:1rem;
    margin-right:1rem;
     
 }
 .about2{

 }
 .web-box{
 	padding-left:7rem;
 	font-size:1.6rem;
 }
 .web{
  margin-top:2rem;
 }
 .web-a{
margin-top:1.7rem;
 }
 .web-b{
 	color:white;
 	padding-right:2rem;
 }
 .qrcode{
 	font-size:1.6rem;
 	float:right;
 	margin-top:2rem;

 }
 .qrcode1{

 }
 .qrcode2{

 }
 .infor{
   text-align:center;
   margin-top:2rem;
 }