.logo{
	background:url(../image/logo.png);
	background-size: contain;
	width: 108px;
	height: 49px;
	/* display:flex; */
	/* justify-content:center; */
	/* align-items:center; */
	margin-top:4.5%;
}
.main{
	background:rgb(241, 167, 80);
	width: 100%;
	/* height: 248px; */
}
.main-hand{
	/* background:url(../image/hand.png); */
	/* height:248px; */
}
.inner{
	margin-top:7%;
	margin-left:45%;
	opacity: 0;
}
.cooperation{/* padding:0; */margin:1rem 0;}
.cooperation-bottom{
	margin-bottom:15rem;
}
.cooperation1{

}
.cooperation2{
padding:2rem;
text-align:center;
box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15);
}
.cooperation-left{
	/* padding:0; */
	box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15);
	/* text-align:center; */
}
.cooperation-list{
	margin-left:45%;
	/* text-align:center; */
}
.cooperation-list1{
	/* display:inline-block; */
	/* text-align:center; */
	padding:0;
	margin:0 auto;
	list-style-type:none;
	list-style-image: url(../image/list.png);
	color:#29b078;
}
.list-details{
	margin:2.5rem auto;
}
.list-details0{
	margin:2.5rem auto;
	list-style-image:url(../image/list0.png);
	color:#ff650e;
}
.tudou{box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15);/* width:72%; *//* margin-left:3%; *//* padding:0; */}
.tudou1{
	box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15);
	display:flex;
	justify-content:space-between;
	padding:2rem 5rem;
	line-height:2.5rem;
}
.tudou-logo{
	/* background: url(../image/tudou.png); */
	/* background-size: cover; */
	/* width: 123px; */
	/* height: 33px; */
	display:flex;
	justify-content:center;
	align-items:center;
	/* margin-left:1rem; */
	margin-right:3rem;
	}
@media only screen and (max-width: 991px) {
	.tudou1{
		display:block;
		padding:1rem;
		}
    .tudou-logo{
			margin-bottom:1rem;
			margin-right:0;
		}
		.cooperation-list{
	margin-left:35%; 
	/* text-align:center; */
}
    p.tudou-intro1{
	margin:2rem 0;
	padding:0rem 1rem;
}
	}
.tudou-found{
	/* margin-left:5rem; */
}
.tudou-intro{
	/* box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15); */
	/* margin:2rem 5rem; */
	text-indent: 2em;
	line-height:2.5rem;
}
.tudou-intro1{
	margin:3rem 0;
	padding:0rem 5rem;
}
