
.connection{
	padding-top: 8rem;
}
@media screen and (min-width: 992px) {
    .col-md-20 {
        float: left;
        width: 25%;
        box-sizing: border-box;
    }
}
.rocket{
	padding:3rem 0 0 0;
}
.rocket1{
	background:url(../image/rocket.png);
	background-size: cover;
	width: 60px;
	height: 62px;
	margin:0 auto;
}
.rocket2{
	text-align:center;
	margin:3rem 1.5rem 0 1.5rem;
	font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(51, 51, 51);
}
.rocket3{
	text-align:center;
	margin:2rem 1.5rem 0 1.5rem;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color: rgb(153, 153, 153);
}
.archive{
	padding:3rem 0 0 0;
}
.archive1{
	background:url(../image/archive.png);
	background-size: cover;
	width: 60px;
	height: 62px;
	margin:0 auto;
	padding-top:1rem;
}
.archive2{
    text-align:center;
    margin:3rem 1.5rem 0 1.5rem;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(51, 51, 51);
}
.archive3{
	text-align:center;
	margin:2rem 1.5rem 0 1.5rem;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color: rgb(153, 153, 153);
}
.person0{
	padding:3rem 0 0 0;
}
.person{
    border-right: 3px rgb(222, 222, 222) dashed;
}
.person1{
	background:url(../image/person.jpg);
	background-size: cover;
	width: 60px;
	height: 62px;
	margin:0 auto;
	padding-top:1rem;
}
.person2{
	text-align:center;
	margin:3rem 1.5rem 0 1.5rem;
	font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(51, 51, 51);
}
.person3{
	text-align:center;
	margin:2rem 1.5rem 0 1.5rem;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color: rgb(153, 153, 153);
}
.user{
	width: 13px;
	height: 13px;
}
.number{
    /* margin-top: 6rem; */
    /* padding-left:4rem; */
}
.number0{
    margin-top: 6rem;
    padding-left:4rem;
    /* text-align:center; */
}
@media screen and (max-width: 991px) {
    .number00 {
       text-align:center;
       padding-left:0;
       margin-top: 5rem;
    }
    .person00{
    	border:0;
    }
}
.number1{
	background: url(../image/user.png);
	background-size: cover;
	width: 13px;
	height: 13px;
	display: inline-block;
}
.number2{
	
	font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(38, 162, 111);
    margin-left:1rem;
}
.total{
	font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(153, 153, 153);
    margin:1rem 0;
}
.work{
	font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(153, 153, 153);
    margin:1rem 0;
}
.how{
	padding-top: 8rem;
	/* padding-bottom: 8rem; */
	text-align: center;
	font-size:1.6rem;
}
.detail{
	padding-top: 4rem;
}
.study{
	/* display: flex; */
	/* justify-content:space-between; */
}
.study0{
	display: flex;
	justify-content:space-between;
}
@media screen and (min-width: 992px) {
   .match0{
	height:72px;
	width:100px;
	display:flex;
	justify-content:center;
	align-items:center;
	color: rgb(153, 153, 153);
	/* padding-top:1.5rem; */
}}
@media screen and (max-width: 991px) {
   .match{
	height:72px;
	width:140px;
	display:flex;
	justify-content:center;
	align-items:center;
	color: rgb(153, 153, 153);
	/* padding-top:1.5rem; */
}
}
.circle{
	
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 1);
	box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15);
	text-align:center;
	line-height:72px;
}
@media screen and (min-width: 1200px) {
.match1{
	height:72px;
	width:140px;
	display:flex;
	justify-content:center;
	align-items:center;
	color: rgb(153, 153, 153);
	/* padding-top:1.5rem; */
}
}
.next{
	margin-top:2rem;
	background: url(../image/next.png);
	width: 25px;
	height: 23px;
}
.next1{
	margin-top:2rem;
	background: url(../image/next.png);
	width: 25px;
	height: 23px;
	opacity: 0;
}
.show{
	padding-top: 8rem;
	padding-bottom: 6rem; 
	text-align: center;
	font-size:1.6rem;
}
.student{
	/* width:22%; */
	/* padding:0; */
	/* margin-right:4%; */
	/* box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15); */
}
.student0{
	padding:0.5rem 0;
	box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15); 
}
.student-last{
	/* width:22%; */
	/* padding:0; */
	/* box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15); */
}
.student1{
	background:url(../image/student1.png);
	background-size: cover;
	width: 108px;
	height: 108px;
	margin:1.5rem auto;
	padding-top:1rem;
}
.student2{
	background:url(../image/student2.png);
	background-size: cover;
	width: 108px;
	height: 108px;
	margin:1.5rem auto;
	/* padding-top:1rem; */
}
.student3{
	background:url(../image/student3.png);
	background-size: cover;
	width: 108px;
	height: 108px;
	margin:1.5rem auto;
	padding-top:1rem;
}
.student4{
	background:url(../image/student4.png);
	background-size: cover;
	width: 108px;
	height: 108px;
	margin:1.5rem auto;
	padding-top:1rem;
}
.student-a{
	text-align:center;
	margin:2rem;
	font-size:1.8rem;

}
.student-b{
	margin:2rem 10%;
	color: rgb(153, 153, 153);
	font-size:1.6rem;
}
.turn-a{
	text-align: center;
	margin:1rem auto;
}
.turn{
	margin:0.5rem auto;
}
.turn1 {
  border-radius: 50%;
  background-color: rgb(105, 209, 233);
  width: 1.2rem;
  height: 1.2rem;
  margin-right:0.3rem;
  display:inline-block;
}
.turn2 {
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
  width: 1.2rem;
  height:  1.2rem;
  margin-right:0.3rem;
  display:inline-block;
}
.company{
	display:inline-flex;
	margin-bottom:6rem;
	display:flex; 
	 flex-wrap:wrap; 
	  justify-content:center; 
	align-items:center; 
}
.company-a{
	box-shadow:  0px 1px 3px rgba(8, 1, 3, 0.15);
	/* height:150px; */
	width:228px;
	text-align:center;
	/* display:flex; */
	/* flex-wrap:wrap; */
	/* justify-content:center; */
	/* align-items:center; */
	float:left;
}
.company1{
	background:url(../image/company1.png);
	background-size: cover;
	width: 175px;
	height: 65px;
	margin:4rem auto;
	display:inline-block;
}
.company2{
	background:url(../image/company2.png);
	background-size: cover;
	width: 175px;
	height: 65px;
	margin:4rem auto;
	display:inline-block;
}
.company3{
	background:url(../image/company3.png);
	background-size: cover;
	width: 175px;
	height: 65px;
	margin:4rem auto;
	display:inline-block;
}
.company4{
	background:url(../image/company4.png);
	background-size: cover;
	width: 175px;
	height: 65px;
	margin:4rem auto;
	display:inline-block;
}
.company5{
	background:url(../image/company5.png);
	background-size: cover;
	width: 175px;
	height: 65px;
	margin:4rem auto;
	display:inline-block;
}
.link{
text-align:center;
margin-bottom:2rem;
font-size:1.6rem;
color: rgb(51, 51, 51);
}
.link1{
	list-style-type:none;
	padding:0;
	display: flex;
	justify-content:space-between;
	/* list-style-type:disc; */
	
    
}
.link2{
	color: rgb(153, 153, 153);

}
.link3{
	display:none;
}
ul.link1 li a:hover,
ul.link3 li a:hover
{
    border-bottom: 1px #29b078 solid;
    text-decoration:none;
}
@media only screen and (max-width: 991px) {

   .link1{
   	display:none;
   }
    .link3{
	list-style-type:none;
	padding:0;
	display: flex;
	justify-content:space-between;
}