@charset "UTF-8";
@import "../task15-helper/mixin";
@import "../task15-helper/var";

%border-b{
  border-bottom: $border-c 1px solid;
}
%table-star{
  background: url("../task15-3-main/image/star.png");
  width: 16px;
  height: 15px;
  display: inline-block;
}
table,td,tr{
  border: 1px $border-c solid;
  border-collapse: collapse;
}
.page{
  padding: 2rem 0;
  font-size: $size - 0.2rem;
  @extend %border-b;
  a:nth-child(2){
    color: $green-c;
  }
}
.direction{
  display: flex;
  width: 100%;
  margin: 0 15px;
  padding: 2rem 0;
  font-size: $size;
  @extend %border-b;
  @media screen and(max-width: 767px){
    margin-bottom: 0;
  }
  span{
    margin-right: 2rem;
    @media screen and(max-width: 767px){
      position: absolute;
    }
  }
  ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media screen and(max-width: 767px){
      margin-left: 6rem;
    }
    li{
      margin-right: 2rem;
      @media screen and(max-width: 767px){
        margin-bottom: 1.5rem;
      }
      a{
        cursor: pointer;
        &:hover{
           color: $white-c;
           background: $green-c;
         }
        &:active{
          background: $yellow-c;
        }
      }
    }
  }
}
.subheader {
  width: 100%;
  padding: 2rem 0;
  @extend %border-b;
}
.job-direction{
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.job{
  border: $grey-c 1px solid;
  color: $grey-c;

  span{
    margin-left: 1rem;
  }
  td{
    padding: 10px 0;
  }
  .job-head{
    @extend %flex-sb-c;
    flex-shrink: 0;
    div:nth-child(1){
      margin: 1rem;
      .job-pic{
        display: block;
        background-size: cover;
        width: 90px;
        height: 90px;
      }
    }
    div:nth-child(2){
      display: flex;
      flex-direction: column;
      margin: 1rem 1rem 1rem 0;
      h3{
        margin-bottom: 1rem;
      }
    }

  }
  .job-tr2{
    td:nth-child(1){
      span:nth-child(2){
        @extend %table-star;
      }
    }
    td:nth-child(2){
      span:nth-child(2){
        @extend %table-star;
      }
      span:nth-child(3){
        @extend %table-star;
      }
    }
  }
  .job-tr3{
    td{
      span:nth-child(2){
        color: $red-c;
      }
      span:nth-child(3){
        margin-left: 0;
      }
    }
  }
  .job-tr4{

    td:nth-child(1){
      text-align: center;
      span{
        color: $grey-c;
        font-size: $size - 0.2rem;
        margin: 0 auto;
      }
    }
    td:nth-child(2){
      color: black;
      span:nth-child(2){
        float: right;
        margin-right: 2rem;
      }
    }
  }
  .job-tr56{
    td{
      color: black;
      span:nth-child(2){
        float: right;
        margin-right: 2rem;
      }
    }
  }
  .job-tr7{
    td{
      span:nth-child(2){
        margin: 0;
        color: $red-c;
      }
      span:nth-child(3){
        margin: 0;
      }
    }
  }
  .job-tr8{
    td{
      span{
        margin: 0;
        padding-left: 1rem;
      }
    }
  }
}
.job-job {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 3rem;
  background-color: rgba(0, 0, 0, 0.761);
  margin-right: 15px;
  margin-left: 15px;
  height: 100%;
  font-size: 16px;
  color: $white-c;
  text-indent: 25px;
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  p{
    letter-spacing: 2px;
  }
}
.job:hover~.job-job{
    display: block;
  transition: 0.3s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  }
.job-job:hover{
  display: block;
}