@charset "utf-8";
//基础变量
$fontkind: "STHeitiSC";
$fontSize: 1.75rem;
$blue-color: #5FC0CD;
$white-color: #ffffff;
$grey-color: rgb(153, 153, 153);
$red-color: rgb(226, 97, 99);
$dark-color: rgb(93,93,93);
$deepdark-color: rgb(51, 51, 51);
$border-color: rgb(225, 229, 231);