@charset "utf-8";
@import "../var";
@import "../mixin";
.header{
  .button1{
    background: url(../image/2.png);
    @include button(1.75rem,1.7rem,1.35rem);
    left:1rem;
  }
}
.main {
  background-color: $greywhite-color;
  padding-bottom: 1.8rem;
  padding-top: 1rem;
  .box1{
    border: 1px solid $border-color;
    background-color: $white-color;
    margin: 0 auto 1.75rem;
    width: 90%;
    vertical-align: middle;
    text-align: center;
    height: 5rem;
    .last {
      font-size: 2rem;
      color: $grey-color;
      line-height: 5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .button2{
      background: url(../image/return.png);
      @include button(7.3rem,0.9rem,1.5rem);
      right:7%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .main-bottom {
    margin: 1rem auto;
    width: 90%;
    border: 1px solid $border-color;
    text-align: center;
    background-color: $white-color;
    .button4{
      background: url(../image/next.png);
      @include button(28rem,1.4rem,2.8rem);
      right:6%;
    }
    .box2 {
      border-bottom: 1px solid $yellow-color;
      margin: 0.5rem auto;
      vertical-align: middle;
      text-align: center;
      height: 4.5rem;
      .game {
        font-size: 1.75rem;
        color: $yellow-color;
        line-height: 4.5rem;
      }
    }
    .box3 {
      border: none;
      background-color: $blue-color;
      margin: 1rem auto;
      width: 80%;
      vertical-align: middle;
      .button3{
        outline: none;
        border: none;
        height: 5rem;
        font-size: 1.5rem;
        color: $white-color;
        background-color: transparent;
      }
    }
    .data {
      font-size: 1rem;
      color: $grey-color;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .bottom {
      margin: 0.3rem auto;
      .circle1{
        @include circle($blue-color,0.75rem,0.75rem,0.5rem,$blue-color)
      }
      .circle2{
        @include circle($greywhite-color,0.75rem,0.75rem,0.5rem,$blue-color)
      }
    }
  }
}