@charset "utf-8";
@import "../var";
@import "../mixin";
.header{
  .button1{
    background: url(../image/2.png);
    @include button(3.5rem,3.4rem,2.7rem);
    left:1.5rem;
  }
}
.main {
  background-color: $greywhite-color;
  padding-bottom: 8rem;
  padding-top: 1.75rem;
  .box1{
    border: 1px solid $border-color;
    background-color: $white-color;
    margin: 0 auto 1.75rem;
    width: 90%;
    vertical-align: middle;
    text-align: center;
    height: 10rem;
    .last {
      font-size: 3rem;
      color: $grey-color;
      line-height: 10rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .button2{
      background: url(../image/return.png);
      @include button(14.3rem,1.8rem,3rem);
      right:7%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .main-bottom {
    margin: 1rem auto;
    width: 90%;
    border: 1px solid $border-color;
    text-align: center;
    background-color: $white-color;
    .button4{
      background: url(../image/next.png);
      @include button(53rem,2.8rem,5.6rem);
      right:6%;
    }
    .box2 {
      border-bottom: 1px solid $yellow-color;
      margin: 1rem auto;
      vertical-align: middle;
      text-align: center;
      height: 9rem;
      .game {
        font-size: 3.5rem;
        color: $yellow-color;
        line-height: 9rem;
      }
    }
    .box3 {
      border: none;
      background-color: $blue-color;
      margin: 2rem auto;
      width: 80%;
      vertical-align: middle;
      .button3{
        outline: none;
        border: none;
        height: 10rem;
        font-size: 3rem;
        color: $white-color;
        background-color: transparent;
      }
    }
    .data {
      font-size: 2rem;
      color: $grey-color;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .bottom {
      height: 18px;
      margin: 0.5rem auto;
      .circle1{
        @include circle($blue-color)
      }
      .circle2{
        @include circle($greywhite-color)
      }
    }
  }
}