.bottom {
    background-color: rgb(38, 162, 111);
    color: white;
}

.bottom1 {}

.tree {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-family: "Microsoft YaHei";
}

.about {
    display: inline-flex;
    margin-top: 5rem;
    font-size: 1.6rem;
}

.about1 {
    border-right: 1px solid white;
    padding-right: 1rem;
    margin-right: 1rem;
}

.about2 {}

.web-box {
    font-size: 1.6rem;
}

.web {
    margin-top: 2rem;
}

.web-a {
    margin-top: 1.7rem;
}

.web-b {
    color: white;
    padding-right: 2rem;
}

.qrcode {
     font-size: 1.6rem;
     margin-top: 2rem;
 }

.qrcode1 {}

.qrcode2 {}

.infor {
    text-align: center;
    margin-top: 2rem;
}